<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.fpx.demo.dao.IAccountDAO">
    <resultMap type="com.fpx.demo.entity.Account" id="accountMap">
        <id column="id" property="id" />
        <result column="account" property="account" />
        <result column="password" property="password" />
    </resultMap>
    <sql id="account">
        id,account,password
    </sql>
    <!-- 查询所有账户 -->
    <select id="listAllAccount" resultMap="accountMap">
        select
        <include refid="account"></include>
        from account
    </select>
</mapper>